/* ========================= RESET ========================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

  font-family: sans-serif;

  cursor: default;

  background-color: var(--background);
  color: var(--dark-graphite);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input{
	outline: none;
}

/* ========================= ROOT ========================= */
:root{
  --blue-jeans: #64758C;
  --dark-graphite: #0D0D0D;
  --graphite: #3E3E40;
  --kinda-white: #F0F0F2;
  --background:hwb(240deg 90% 9%);
  --gray: #BDBDBF;
}

/* ========================= GERAL ========================= */
.hour{
  color: #D56723;
}

.value{
  color: #B97FC9;
}

.date{
  color: #b3424b;
}

.cpf{
  color: #4592C4;
}

.card{
  color: #F366B9;
}

.store{
  color: #7B62A3;
}

.owner{
  color: #729F3F;
}

.type{
  /* color: #bda615; */
  color: blue;
}

.error{
  color: #b3424b;
}

button{
  cursor: pointer;
}

button:hover{
  filter: brightness(95%);
}

/* ========================= HEADER ========================= */
header{
  width: 100%;
  height: 80px;

  margin-bottom: 30px;

  background-color: var(--blue-jeans);

  display: flex;
  justify-content: center;
  align-items: center;
}

header h1{
  font-size: 2rem;

  color: white;
}

/* ========================= SECTION ========================= */
section{
  width: 100%;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
}

section div.cont-section{
  width: 90%;
  height: 350px;

  padding: 15px;

  border: 1px solid var(--dark-graphite);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
}

section div.cont-section h2{
  font-size: 1.5rem;
  font-weight: bold;
}

section div.cont-section h3{
  font-size: 1.1rem;
  font-weight: bold;

  color: var(--dark-graphite);
  /* color: white; */
}

section div.cont-section div.cont-infos-size{
  height: 110px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section div.cont-section div.cont-infos-size span.size{
  font-weight: bold;
}

section div.cont-section div.cont-infos-size div.sizes{
  width: 350px;
  height: 80px;

  display: flex;
  justify-content: space-between;
}

section div.cont-section div.cont-infos-size div.sizes div.cont-sizes{
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section div.cont-section p strong{
  font-weight: bold;
}

/* ========================= MAIN ========================= */
main{
  width: 100%;

  display: flex;
  justify-content: space-around;
}

/* ========================= ASIDE ========================= */
main aside{
  width: 350px;
  min-width: 300px;
  height: 200px;

  padding: 10px;

  background-color: var(--graphite);
  color: white;

  border: 1px solid var(--dark-graphite);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

main aside h3{
  font-size: 1.5rem;
  font-weight: bold;
}

main aside span.error{
  text-align: center;
}

/* ========================= FORM ========================= */

main aside form{
  width: 80%;
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main aside form div.cont-input{
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

main aside form button{
  height: 30px;

  background-color: var(--blue-jeans);
  color: white;

  border: 1px solid var(--graphite);
  border-radius: 10px;
}

/* ========================= CARDS ========================= */
main div.cont-result{
  width: 650px;
  min-height: 200px;
  max-height: 600px;

  padding: 15px;

  background-color: var(--blue-jeans);

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;

  overflow: auto;
}

main div.cont-result h2{
  font-size: 1.5rem;
  font-weight: bold;

  margin-bottom: 10px;

  color: white;

  text-align: center;
}

main div.cont-cards{
  max-height: 500px;

  padding: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  box-sizing: border-box;

  overflow-y: auto;
}

main div.cont-cards div.card{
  width: 250px;
  height: 300px;

  padding: 10px;
  margin-bottom: 15px;

  background-color: var(--kinda-white);
  color: var(--dark-graphite);

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;

  overflow: auto;
}

main div.total{
  margin-top: 10px;

  display: flex;
  justify-content: end;
}

main div.total span{
  font-size: 1.2rem;

  color: white;
}

main div.total span:first-child{
  font-weight: bold;

  margin-right: 5px;
}